* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --achtergrond-kleur: hsl(16, 76%, 48%);
    --main-font: arial;
    --main-font-weight: normal;
    --line: 1.5px solid black;
    --header-text-size: clamp(2rem, 8vw, 4rem);
    --text-size: 1.5rem;
    --text-size-small: 1rem;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 60px;
    z-index: 1;
}

.achtergrond {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: var(--achtergrond-kleur);
    z-index: 0;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    z-index: 2;
}

h1 {
    font-size: var(--header-text-size);
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    position: relative;
    z-index: 3;
}

h2 {
    font-size: clamp(var(--text-size-small), 4vw, var(--text-size));
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
}

.quote1,
.quote2 {
    position: relative;
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-size: var(--text-size);
    margin-bottom: 20px;
    width: fit-content;
    z-index: 4;
}

.quote1 {
    border-bottom: var(--line)
}

.quote2 {
    padding-top: 10px;
    display: block;
    border-top: var(--line);
}

.leeg {
    display: block;
    height: 200px;
    width: fit-content;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
}

.cirkelKlein {
    height: 6rem;
    left: 10px;
}

.flex-text {
    text-align: left;
    margin-left: 50px;
    margin-top: 10px;
    border-bottom: var(--line)
}

img {
    max-width: 100%;
    height: auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding-left: 50px;
    z-index: 3;
}

.column {
    padding: 10px;
    z-index: 4;
}

.column img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


main .row .column p:not(.quote2 p) {
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-size: var(--text-size-small);
}

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 17%;
    height: 100%;
    padding: 10px;
    background-color: white;
    z-index: 4;
}

.cirkelGroot {
    text-align: center;
    margin-top: 50px;
}

.cirkelGroot img {
    display: inline-block;
    width: 80%;
    height: auto;
}

nav {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding-top: 20px;
}

nav ul {
    list-style: none;
    padding-left: 0;
    display: grid;
    gap: 20px;
}

nav ul li {
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    text-align: left;
}

nav a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    z-index: 1;
    width: 100vw;
}

@media (max-width: 700px) {
    :root {
        --text-size: 1.2rem;
        --text-size-small: 0.8rem;
    }

    .row {
        grid-template-columns: 1fr;
        padding-left: 0;
    }

    .aside {
        display: none;
    }

    .column {
        flex: 100%;
    }

    .quote1 {
        margin-left: 20px;
    }

    .quote2 {
        display: none;
    }

    .row {
        padding-left: 0;
    }

    .leeg {
        display: none;
    }

}

@media (min-width: 700px) and (max-width: 899px) {

    .row {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        /* De kolommen blijven grid */
        padding-left: 0;
    }

    .aside {
        display: none;
    }

    .column {
        flex: 100%;
    }

    .quote1 {
        display: none;
    }

    .quote2 {
        display: block;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
        margin: 0;
        list-style: none;
        justify-content: center;
        width: 100%;
    }

    nav ul li {
        flex: 1 1 22%;
        text-align: center;
    }
}

@media (min-width: 900px) {

    .row {
        grid-template-columns: calc(75% / 2) calc(75% / 2);
        gap: 20px;
        padding-left: 30px;
    }

    .aside {
        display: block;
        width: 17%;
    }

    .column {
        flex: 100%;
    }

    .quote1 {
        display: none;
    }

    .quote2 {
        display: block;
    }

    .cirkelKlein {
        display: none;
    }

    footer {
        width: 83%;
    }
}